/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* common css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Rubik", sans-serif;
}

/* common css end */

/* header top css start */

.header-top {
  background-color: #040404;
  padding: 14px 0;
  color: #fff;
}

.header-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top-left {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.header-top-left-content {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Rubik";
  letter-spacing: 1px;
}

span.brator50 {
  font-weight: 700;
}

.header-top-right-btn a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Rubik";
  letter-spacing: 1px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 5px;
}

.header-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-top-right-number {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-top-right-language {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-top-right-currency {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1100px) {
  .header-top-container {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 650px) {
  .header-top-left {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-top-left-content {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }

  .header-top-right {
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* header top css end */

/* header menu css start */

.header-menu {
  padding: 20px 0;
  border-bottom: 1px solid #d7dadf;
}

.header-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  display: flex;
}

.header-logo {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.header-search-input {
  /* padding-right: 38px; */
  border-right: 1px solid #00000020;
  flex-grow: 1;
}

.header-search-input input {
  padding: 17px 20px;
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Rubik";
  letter-spacing: 1px;
  width: 300px;
}

.header-categories {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 29px;
}

.menu-items {
  flex-grow: 1;
  padding-left: 88px;
}

.menu-items ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu-items ul li {
  list-style: none;
}

.menu-items ul li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Rubik";
}

.header-user-cart {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-search-bar {
  border: 1px solid #e0e0e0;
  flex-grow: 1;
  border-radius: 5px;
}

.select-categories select {
  border: none;
  outline: none;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Rubik";
  letter-spacing: 1px;
}

.search-bar button {
  background-color: #f94040;
  border: none;
  border-radius: 0 5px 5px 0;
  margin-left: 32px;
}

.search-bar svg {
  width: 21px;
  height: 21px;
  margin-left: 16px;
  margin-right: 16px;
}

/* header menu css end */

/* hero section start */

.hero-section {
  padding-top: 60px;
  margin-bottom: 27px;
}

.hero-section-top-content {
  display: flex;
  justify-content: space-between;
}

.hero-top-content-left .hero-online {
  background-color: #f7f7f7;
  display: inline-block;
  padding: 7px 15px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: #000;
}

.hero-heading h1 {
  font-size: 60px;
  font-weight: 700;
  max-width: 830px;
  line-height: 64px;
  margin-top: 30px;
}

.hero-description p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  max-width: 600px;
  margin-top: 26px;
}

.hero-top-content-right {
  display: flex;
  align-self: flex-end;
}

.hero-shop-now a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Rubik";
  letter-spacing: 1px;
  padding: 18px 40px;
  border-radius: 5px;
  border: 1px solid #f73312;
  background-color: #f73312;
}

.hero-view-details a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Rubik";
  letter-spacing: 1px;
  padding: 18px 40px;
}

.hero-section-bottom {
  margin-top: 58px;
}

.hero-single-item {
  background-image: url("./img/banner/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 44px 0;
}

.hero-banner-content {
  color: #fff;
}

.hero-banner-content h3 {
  font-size: 37px;
  line-height: 57px;
  font-weight: 500;
}

.hero-banner-content h1 {
  font-size: 123px;
  font-weight: 700;
  line-height: 148px;
  color: #f73312;
}

.hero-banner-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
}

@media (max-width: 1265px) {
  .hero-section-top-content {
    flex-direction: column;
    gap: 30px;
  }

  .hero-top-content-right {
    align-self: center;
  }
}

@media (max-width: 991px) {
  .hero-single-item {
    flex-direction: column;
    gap: 40px;
  }

  .hero-banner-content {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .hero-top-content-right {
    flex-direction: column;
    gap: 40px;
  }

  .hero-heading h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-description p {
    font-size: 15px;
    line-height: 23px;
    margin-top: 20px;
  }

  .hero-section-top-content {
    gap: 35px;
  }

  .hero-single-item {
    flex-direction: column;
    gap: 40px;
  }

  .hero-banner-content {
    text-align: center;
  }

  .hero-banner-content h3 {
    font-size: 25px;
    line-height: 35px;
    font-weight: 500;
  }

  .hero-banner-content h1 {
    font-size: 80px;
    line-height: 90px;
  }

  .hero-banner-content p {
    font-size: 20px;
    line-height: 30px;
  }
}

/* hero section end */

/* category section start */

.Category-section {
  padding: 110px 0;
}

.Category-section .section-title {
  display: flex;
  /* justify-content: flex-start; */
  /* align-items: center; */
  gap: 22px;
  margin-bottom: 30px;
}

.Category-section .section-title h4 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  font-family: "Rubik";
}

.Category-section .section-title p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.Category-section .section-title p a {
  text-decoration: none;
  color: #000;
}

.category-items {
  display: flex;
  gap: 30px;
}

.category-item {
  border-radius: 10px;
}

.cat-01 {
  background-color: #f6f2f2;
}

.cat-01 .item-number p {
  color: #d6c4c4;
}

.cat-02 {
  background-color: #edfaf8;
}

.cat-02 .item-number p {
  color: #b5d1bd;
}

.cat-03 {
  background-color: #edf0fa;
}

.cat-03 .item-number p {
  color: #b6bdcf;
}

.cat-04 {
  background-color: #f5faed;
}

.cat-04 .item-number p {
  color: #d6c4c4;
}

.category-item-image {
  /* padding-left: 140px; */
  padding-bottom: 55px;
  text-align: right;
}

.category-item-content {
  display: flex;
  justify-content: space-between;
  padding-right: 35px;
  padding-left: 39px;
  padding-bottom: 35px;
  align-items: center;
}

.item-title h4 {
  font-size: 30px;
  line-height: 34px;
  font-weight: 600;
  margin-bottom: 13px;
}

.item-title p {
  font-size: 15px;
  line-height: 20px;
}

.item-number p {
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
}

.category-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category-item-image img {
  max-height: 317px;
}

/* category section end */

/* best selling section css start */

.best-selling-section {
  padding: 110px 0;
}

.best-section-title {
  display: flex;
  justify-content: space-between;
}

.best-title-section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.best-title-section h4 {
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
  font-family: "Rubik";
}

.best-title-section p a {
  text-decoration: none;
  color: #000;
}

.best-title-section p a svg {
  margin-left: 10px;
}

.best-tab-section ul {
  display: flex;
  gap: 30px;
}

.best-tab-section ul li {
  list-style: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 15px;
  font-weight: 700;
}

li.tab-active {
  color: red;
}

.single-product-items {
  display: flex;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 78px;
}

.product-item {
  border: 1px solid red;
  border-radius: 10px;
  padding: 40px;
  position: relative;
}

.product-item-content {
  text-align: center;
  width: 100%;
}

.product-item-content .product-brand {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #9ea4ab;
  padding-bottom: 10px;
}

.product-item-content h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  max-width: 250px;
  margin: 0 auto;
  padding-bottom: 10px;
}

.product-item-content .product-description {
  background-color: #d3d3d3a2;
  max-width: 280px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 11px 19px;
  color: #878a8ca3;
}

.product-price-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.product-price-box .product-price {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: red;
}

.product-price-box .product-old-price {
  font-size: 15px;
  line-height: 16px;
  color: #9ea4ab;
  text-decoration: line-through;
}

.product-stock p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #099268;
}

.product-vat {
  padding-bottom: 10px;
}

.product-stock {
  padding-bottom: 10px;
}

.product-stock p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #099268;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.progress-bar {
  width: 250px;
  height: 8px;
  position: relative;
  border-radius: 8px;
}

.progress-bar {
  background: linear-gradient(80deg, #f73312 0%, #e5d647 35%, #28ca99 100%);
}

.progress-bar .incomplete {
  position: absolute;
  background-color: #e9ecef !important;
  right: 0;
  height: 8px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.product-stock-progress-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 250px;
  margin: 0 auto;
}

.product-quantity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #9ea4ab;
}

.product-quantity p {
  font-size: 12px;
  font-family: "Rubik";
}

.product-quantity p span {
  color: #000;
  font-weight: 700;
}

.product-badge {
  position: absolute;
  top: 18px;
  left: 18px;
}

.product-new {
  background-color: #262626;
  padding: 3px 10px;
  color: #fff;
  border-radius: 4px;
}

.product-off {
  background-color: #f73312;
  padding: 3px 10px;
  color: #fff;
  border-radius: 4px;
}

.product-sold {
  background-color: #7faf2b;
  padding: 3px 10px;
  color: #fff;
  border-radius: 4px;
}

.product-Stock {
  background-color: #000000;
  padding: 3px 10px;
  color: #fff;
  border-radius: 4px;
}

.hotspots-section {
  display: flex;
}

/* best selling section css end */
